				<!-- Spotlight 03 Left -->
                <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
                    <div class="content">
                        <h2>Crucero en Grupo</h2>
                        <p>Zarpa en Grupo en 2026 y vive el Mediterráneo como nunca antes</p>
                        <p>Disfruta de un crucero todo incluido con bebidas, comidas y guía acompañante. Relájate con salidas desde Tarragona y regreso a Barcelona.</p>
                        <p>¡Por solo 895 € por persona! Reserva ahora y asegura tu plaza en esta experiencia inolvidable.</p> 
                        <ul class="actions stacked">
                            <li><a href="https://dinosauriosviajeros.com/images/4.crucero_dinos.jpg" target="_blank" rel="noopener" class="button">Consulta el programa</a></li>
                        </ul>
                        <ul class="actions stacked">
                            <li><a href="https://es.social-commerce.io/8MRkec" target="_blank" rel="noopener" class="button">Solicitud de reserva</a></li>
                        </ul>
                    </div>
                    <div class="image">
                        <img src="images/4.crucero_dinos.jpg" alt="" />
                    </div>
                </section>

                 
