				<!-- Spotlight -->
                <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
                    <div class="content">
                        <h2>Viaje a Tunez</h2>
                        <p>¡Descubre la magia de Túnez en un viaje exclusivo para mayores de 55 años!</p>
                        <p>Del 12 al 19 de febrero de 2025, disfruta de un recorrido inolvidable desde Barcelona por paisajes exóticos, cultura fascinante y alojamiento en hoteles de 4 y 5 estrellas. Con pensión completa, seguro ampliado y guía experto en español, vivirás una experiencia cómoda y segura. Además, el paquete incluye tasas turísticas y de aeropuerto, para que solo te preocupes por disfrutar.</p>
                        <p>Todo por 1.236 €. ¡Reserva ahora y crea recuerdos únicos en el corazón del Mediterráneo! Plazas limitadas.</p>        
                        <ul class="actions stacked">
                            <li><a href="https://dinosauriosviajeros.com/images/2.tunez_dinos.jpg" target="_blank" rel="noopener" class="button">Consulta el programa</a></li>
                        </ul>
                        <ul class="actions stacked">
                            <li><a href="https://viajesarroyo.travelersense.com/viaje/camino-santiago-camino-ingles-desde-ferrol-autoguiado-1/?country=ccaa_galicia" target="_blank" rel="noopener" class="button">Compra aquí tu viaje</a></li>
                        </ul>
                    </div>
                    <div class="image">
                        <img src="images/tunez_12.jpg" alt="" />
                    </div>
                </section>
