<!-- Spotlight 00 Right -->
        <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
            <div class="content">
                <h2>Chollos Seniors</h2>
                <p>Descubre en esta sección las mejores ofertas diseñadas especialmente para ti.</p>
                <p>Viajes inolvidables, experiencias únicas y descuentos exclusivos te esperan. ¡Aprovecha estas oportunidades y disfruta al máximo de tu tiempo libre!.</p>
                <ul class="actions stacked">
                    <li><a href="https://viajesarroyo.travelersense.com/viajes/?tags=venta-anticipada" target="_blank" rel="noopener" class="button">Ofertas</a></li>
                </ul>
            </div>
            <div class="image">
                <img src="images/dino_ofertas.jpg" alt="" />
            </div>
        </section>
        
        
