				<!-- Spotlight 02 Right -->
                <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
                    <div class="content">
                        <h2>Viaje a Senegal</h2>
                        <p>¡Descubre la magia de Senegal en un viaje exclusivo para seniors!</p>
                        <p>Si tienes espíritu aventurero y te gustaría disfrutar de exclusivas instalaciones, el Hotel Riu Baobab con Todo Incluido 24h es la opción perfecta para viajar a Senegal y descubrir el encanto del continente africano alojándote en el mejor hotel en Pointe Sarène en primera línea de playa.</p>
                        <p>Salidas desde Barcelona con Todo Incluido 24h, opcionalmente tenemos un programa de visitas muy interesante.</p> 
                        <ul class="actions stacked">
                            <li><a href="https://dinosauriosviajeros.com/images/programa_senegal.jpg" target="_blank" rel="noopener" class="button">Consulta el programa</a></li>
                        </ul>
                        <ul class="actions stacked">
                            <li><a href="https://es.social-commerce.io/yAf3Rl" target="_blank" rel="noopener" class="button">Solicitud de reserva</a></li>
                        </ul>
                    </div>
                    <div class="image">
                        <img src="images/3.senegal_dinoss.jpg" alt="" />
                    </div>
                </section>
