				<!-- Spotlight 02 Right -->
                <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
                    <div class="content">
                        <h2>Viaje a Egipto</h2>
                        <p>¡Descubre la magia de Egipto en un viaje exclusivo para seniors.!</p>
                        <p>Explora pirámides, templos y el majestuoso Nilo con guía en español. Disfruta de pensión completa, seguro incluido y comodidad garantizada..</p>
                        <p>Salidas desde varias ciudades. ¡Una experiencia inolvidable por solo 1.790 €! Reserva ahora y vive la historia.</p> 
                        <ul class="actions stacked">
                            <li><a href="https://dinosauriosviajeros.com/images/3.egipto_dinos.jpg" target="_blank" rel="noopener" class="button">Consulta el programa</a></li>
                        </ul>
                        <ul class="actions stacked">
                            <li><a href="https://viajesarroyo.travelersense.com/viaje/camino-santiago-camino-ingles-desde-ferrol-autoguiado-1/?country=ccaa_galicia" target="_blank" rel="noopener" class="button">Compra aquí tu viaje</a></li>
                        </ul>
                    </div>
                    <div class="image">
                        <img src="images/egipto.jpg" alt="" />
                    </div>
                </section>
