				<!-- Spotlight -->
                <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
                    <div class="content">
                        <h2>Viaje a Kenya</h2>
                        <p>¡Descubre la magia de África en un viaje exclusivo para mayores de 55 años!</p>
                        <p>Del  26 de Mayo al 03 Junio  de 2025, disfruta de un recorrido inolvidable desde Barcelona por lugares míticos de África , visitando NAIROBI , Paisajes de MEMORIAS  DE ÁFRICA en NAKURU y el parque mas espectacular de KENIA  MAASAI MARA, cultura fascinante y alojamientos con encanto en LODGES Y CAMPS integrados en plena naturaleza y con total seguridad y confort.</p>
                        <p>Con pensión completa, seguro ampliado y guía experto en español, vivirás una experiencia cómoda y segura. Además,el paquete incluye tasas turísticas y de aeropuerto y entradas a PARQUES para que solo te preocupes por disfrutar.</p>
                        <p>Todo por 2.160 EUR. ¡Reserva ahora y crea recuerdos únicos en elcorazón de África ! Plazas limitadas.</p>        
                        <ul class="actions stacked">
                            <li><a href="https://dinosauriosviajeros.com/images/safari_pink_flamingo.pdf" target="_blank" rel="noopener" class="button">Consulta el programa</a></li>
                        </ul>
                        <ul class="actions stacked">
                            <li><a href="https://es.social-commerce.io/zLGyiy" target="_blank" rel="noopener" class="button">Solicitud de reserva</a></li>
                        </ul>
                    </div>
                    <div class="image">
                        <img src="images/2.kenya_dinos.jpg" alt="" />
                    </div>
                </section>
                