<!-- Spotlight 00 Right -->
        <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
            <div class="content">
                <h2>Viaje a Tunez</h2>
                <p>DESCRIPCION DEL VIAJE A TUNEZ</p>
                <ul class="actions stacked">
                    <li><a href="https://dinosauriosviajeros.com/images/2.tunez_dinos.jpg" target="_blank" rel="noopener" class="button">Consulta el programa</a></li>
                </ul>
                <ul class="actions stacked">
                    <li><a href="https://viajesarroyo.travelersense.com/viaje/camino-santiago-camino-ingles-desde-ferrol-autoguiado-1/?country=ccaa_galicia" target="_blank" rel="noopener" class="button">Compra aquí tu viaje</a></li>
                </ul>
            </div>
            <div class="image">
                <img src="images/2.tunez_dinos.jpg" alt="" />
            </div>
        </section>
